<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style type="text/css">
        body {
            padding: 100px;
        }

        .styles, .styles td {
            border: 1px solid lightgray;
            padding: 5px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="styles.js"></script>
</head>
<body>
<p>
    <a th:href="@{/}" href="index.html">Библиотека</a>
</p>
<h3>Жанры:</h3>
<p>
<div id="styleTable"></div>
</p>
<form id="del-form" action="/api/styles.html">
    <h3>Удаление жанра:</h3>
    <div class="row">
        <label for="styleId">ID:</label>
        <input id="styleId" type="text" value=""/>
    </div>
    <div class="row">
        <button width="150" type="submit">Удалить</button>
    </div>
</form>
</body>
</html>
